{% extends 'base.html' %}
{% block content %}

<h1>Guest Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ guest.user_name }}</span>
    <p>Email: {{ guest.user_email }}</p>
    <p>Phone Number: {{ guest.user_phone }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'guests_update' guest.id %}">Edit</a>
    <a href="{% url 'guests_delete' guest.id %}">Delete</a>
  </div>
</div>
<h2>Guest's Cellar</h2>
  <div class="col s6">
    <h3>{{ guest.user_name }}'s Wine Collection</h3>
    {% if guest.user_count %} {% for wine in guest.user_all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
        </span>
      </div>
      <div class ="card-action">
        <form action="{% url 'unassoc_wine.wine_name' guest.user_id wine.wine.id %}" method="POST">
          {% csrf_token %}
          <button type="submit"
          class="btn">Remove</button>
          </form>
    </div>
    </div>
    {% endfor %} 
    {% else %}
    <h5>No Wines in Cellar</h5>
    {% endif %}
  </div>
  <!-- Available wines in cellar -->
</div>
<div class="col s6">
<h3>Wine Cellar</h3>
{% if wines.wine.count %} {% for wine in wines.wine.all %}
<div class="card-action">
  <form action="{% url 'assoc_wine.wine_name' guest.user.id %}" method="POST">
    % csrf_token %<button type="submit" class="btn">Add</button>button>
    </form>
    </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{guest.user_name}} Already has Wine in Cellar</h5>
    {% endif %}
  </div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_wine');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}