{% extends 'base.html' %}

{% block content %}
<h1>ABOUT US</h1>
<hr />
<p> Cork & Sip was founded on June 15th, 2023 from three young ambitious individuals by the names of Micole Atkins, Tony Phan, and James Aubrey. The trio teamed up to create an app, because they all shared a love for wine. The vision of the app was to give their audience a classic experience by signing up and creating your own personal "cellar" (as what they would call it). Each guest will have the ability to book their desired wine tasting across the Napa Valley. Also they'll be able to add their favorite wines to their cellar while learning a brief a history on their choice. Cork & Sip is the future and the owners take great pride in producing an app for wine enthusiast across California.
</p>
<h2>MEET THE OWNERS</h2>
<hr />
<br>
<div class="row">
  <div class="col s4 section">
    <img style="padding: 20px;" class="circle responsive-img" src="https://i.ibb.co/6v5kcZ5/Website-Photo.png"  alt="tonysprofilepic">
  </div>
  <div class="col s4 section">
    <img style="padding: 10px; margin-top: 10px;" class="circle responsive-img" src="https://i.ibb.co/Z6WcXGm/Slack-Photo.png" alt="jamesprofilepic">
  </div>
  <div class="col s4 section">
    <img style="padding: 10px; margin-top: 10px;" class="circle responsive-img" src="https://i.ibb.co/Ws6vs01/IMG-1106.jpg" alt="micolesprofilepic">
  </div>
</div>
<div class="row">
  <div class="col s4 section">
    <h3 style="text-align: center;">Tony</h3>
    <br>
    <br>
    <p>Born and raised in Atlanta, GA. I have 11 years of experience in the service and food industry. My extensive knowledge of the service and food industry and customer service played a part in the inspiration for this app.<p>
  </div>
  <div class="col s4 section">
    <h3 style="text-align: center;">James</h3>
    <br>
    <br>
    <p>Born and raised in San Jose, CA and now I currently reside in Tulsa, OK. I have an experience of being a bartender/sommelier at Lowood, one of Tulsa's top restaurants. I gained my intro level sommelier certification through the Court of Master Sommeliers. My passion for the industry was part of the inspiration for the app.<p>
  </div>
  <div class="col s4 section">
    <h3 style="text-align: center;">Micole</h3>
    <br>
    <br>
    <p>Born and raised in Memphis,TN and now I currently reside in Dallas,TX. I have background within the food and club industry. As a former server and also a wine enthusiast I was inspired to play a role in creating this app.<p>
  </div>
</div>

{% endblock %}