{% extends 'base.html' %}

{% block content %}
<h1>ABOUT US</h1>
<hr />
<p></p>


<h2>MEET THE OWNERS</h2>
<hr />
<h3>Tony</h3>
<p>Born and raised in Atlanta, GA. I have 11 years of experience in the service and food industry. My extensive knowledge of the service and food industry and customer service played a part in the inspiration for this app.<p>
<h3>James</h3>
<p>Born and raised in San Jose, CA and now I currently reside in Tulsa, OK. I have an experience of being a bartender/sommelier at Lowood, one of Tulsa's top restaurants. I gained my intro level sommelier certification through the Court of Master Sommeliers. My passion for the industry was part of the inspiration for the app.<p>
<h3>Micole</h3>
<p>Born and raised in Memphis,TN and now I currently reside in Dallas,TX. I have background within the food and club industry. As a former server and also a wine enthusiast I was inspired to play a role in creating this app.<p>

{% endblock %}