{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cork & Sip</title>
  <!--GOOGLE FONTS BELOW-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Just+Another+Hand&family=Parisienne&family=Rochester&display=swap" rel="stylesheet">
  <!--GOOGLE FONTS ABOVE-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
  
<body style="font-family: 'Courier New', Courier, monospace; background-image: url('https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=415&q=80');" >
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'guests_create' %}">Add a Guest</a></li>
    <li class="divider"></li>
    <li><a href="{% url 'index' %}">View All Guests</a></li>


    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="{% url 'wines_create' %}">Add a Guest</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'wines_index' %}">View All Guests</a></li>
      </ul>
    <nav>
      <div class="nav-wrapper pink darken-4">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp; Cork & Sip</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" >Guests<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2" >Wines<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            </ul>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="banner">
      <h2 id = "banner-heading">Welcome to Cork & Sip</h2>
    </div>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer pink darken-4">
    <div class="right">All Rights Reserved, &copy; 2023 Cork & Sip &nbsp;</div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    const selectEl = document.getElementById('id_time');
    M.FormSelect.init(selectEl);
  });
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems); 
  });
  </script>
</body>
</html>