{% extends 'base.html' %}
{% block content %}

  <h1> Welcome to Cork & Sip </h1>
  <hr>
  <br>
  <div class="container" >
  <h4>Visit our vineyard...</h3>
  <img class="circle responsive-img" src="https://images.unsplash.com/photo-1563514227147-6d2ff665a6a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dmluZXlhcmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60" alt="Vineyard">
  <br>
  <hr>
  <br>
  <h4>Join us for a tasting...</h3>
  <img class="circle responsive-img" src="https://images.unsplash.com/photo-1510812431401-41d2bd2722f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZXJ5fGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="Tasting">
  <br>
  <hr>
  <br>
  <h4>Start your own collection...</h3>
  <img class="circle responsive-img" src="https://images.unsplash.com/photo-1611575189074-9dfbbceb258a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZSUyMGNlbGxhcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Cellar">
  </div>

{% endblock %}