{% extends 'base.html' %}
{% block content %}

<p style="text-align: center;">Maybe you're a sommelier, maybe you're like "sommel-what? I don't even know what that is."  We would like to introduce you to Cork & Sip. The "Cork & Sip" app is where wine enthusiasts can explore the world of wine by booking tasting events across Napa Valley, adding their favorite wines to their own personal "cellar" as they go, and adding wines they would like to see in our collection!</p>
<hr>
<br>
<div class="row">
  <div class="col s4 section">
    <h5 style="text-align: center;">Visit our vineyard!</h5>
  </div>
  <div class="col s4 section">
    <h5 style="text-align: center;">Join us for a tasting!</h5>
  </div>
  <div class="col s4 section">
    <h5 style="text-align: center;">Start a collection!</h5>
</div>
<div class="row">
  <div class="col s4 section">
    <img id = "home-img" class="circle responsive-img" src="https://images.unsplash.com/photo-1607843449148-60c1da77a0c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" alt="Vineyard">
  </div>
  <div class="col s4 section">
    <img id = "home-img" class="circle responsive-img" src="https://images.unsplash.com/photo-1510812431401-41d2bd2722f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZXJ5fGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="Tasting">
  </div>
  <div class="col s4 section">
    <img id = "home-img" class="circle responsive-img" src="https://images.unsplash.com/photo-1611575189074-9dfbbceb258a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZSUyMGNlbGxhcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Cellar">
  </div>
</div>
<nav style="background-color:#880e4f;">
  <div style="text-align: center; color:white;"> Contact us today at corkandsip@gmail.com or give us a call at 555-123-4567!</div>
</nav>

{% endblock %}